.regpage-selec-content-wrapper {
    min-height: 600px;

    .regpage-selec-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .regpage-selec-content-header {
            position: relative;
            padding: 15px 15px 0 15px;

            .registration-selec {
                font-size: 24px;
                margin: 0;
            }
        }

        .regpage-selec-content {
            min-height: 250px;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;

            .regpage-selec-table {
                width: 100%;
                border: 1px solid #3c8dbc;
                position: relative;
                border-radius: 3px;
                margin-bottom: 20px;
                background-color: #fff;
                text-decoration: none;

                .regpage-selec-table-header {
                    display: block;
                    padding: 10px;
                    position: relative;
                    background-color: #3c8dbc;

                    .regpage-selec-table-header-content {
                        display: inline-block;
                        font-size: 16px;
                        color: #fff;
                    }
                }

                .regpage-selec-table-body {
                    min-height: 600px;

                    .selec-row {
                        margin-right: -15px;
                        margin-left: -15px;
                        //border: 1px solid green;
                        height: inherit;
                        width: inherit;

                        .selec-col-left {
                            width: 370px;
                            height: 300px;
                            //border: 1px solid red;

                            .selec-regList {
                                width: 370px;
                                height: 170px;
                                //border: 1px solid purple;

                                .selec-reg-response {
                                    min-height: 50px;
                                    margin-top: 10px;
                                    margin-left: 40px;

                                    .selec-box {
                                        position: relative;
                                        border-radius: 3px;
                                        background: #ffffff;
                                        border-top: 3px solid #3c8dbc;
                                        border-radius: 5px 5px 0px 0px;
                                        margin-bottom: 20px;
                                        width: 100%;
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

                                        .selec-box-header {
                                            color: #444;
                                            display: block;
                                            padding: 10px;
                                            position: relative;
                                            font-size: 20px;
                                        }

                                        .selec-box-body {
                                            border-top-left-radius: 0;
                                            border-top-right-radius: 0;
                                            border-bottom-right-radius: 3px;
                                            border-bottom-left-radius: 3px;
                                            padding: 0;
                                        }
                                    }
                                }
                            }

                            .selec-cal {
                                width: 370px;
                                height: 120px;
                                margin-top: 20px;

                                .selec-cal-response {
                                    min-height: 50px;
                                    margin-top: 10px;
                                    margin-left: 40px;

                                    .selec-cal-box {
                                        position: relative;
                                        border-radius: 3px;
                                        background: #ffffff;
                                        border-top: 3px solid #3c8dbc;
                                        border-radius: 5px 5px 0px 0px;
                                        margin-bottom: 20px;
                                        width: 100%;
                                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

                                        .selec-cal-box-header {
                                            color: #444;
                                            display: block;
                                            padding: 10px;
                                            position: relative;
                                            font-size: 20px;
                                        }

                                        .selec-cal-box-body {
                                            border-top-left-radius: 0;
                                            border-top-right-radius: 0;
                                            border-bottom-right-radius: 3px;
                                            border-bottom-left-radius: 3px;
                                            padding: 0;
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .regpage-selec-bottom-wrapper {
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;

            .regpage-selec-bottom-container {
                text-align: right;

                .button-selec-design {
                    font-size: 14px;
                    cursor: grab;
                    color: #3c8dbc;
                }

            }
        }
    }
}